# Ignore node modules and dependencies installed by Docker
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

# Ignore logs
logs
*.log
*.gz

# Ignore environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Ignore build files
dist
build
.cache

# Ignore local development files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Ignore Docker-related files
docker-compose.override.yml
Dockerfile.dev

# Ignore test and coverage files
coverage
test-results
jest-cache
jest-stare

# Ignore Git files
.git
.gitignore
